.navbar-top{
    width: -webkit-fill-available;
    height: 60px;
    background-color: #d6e0e6;
    display: flex;
    justify-content: space-between;
}

.logout-button{
    margin-top: 17% !important;
    margin-right: 10px !important;
}

.title {
    width: auto;
    height: 50px;
    margin: 15px 0px 0px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 410px){
    .title {
      font-size: large;
    }
  }